footer
  .container.text-center
    p(align='center') © 2018 CloverCoin. Todos Los Derechos Reservados
    ul.pull-right.list-inline
      li
        a(href='https://t.me/wolf_clover/', target='_blank') Grupo Oficial
      li
        a(href='https://wolfclover.com', target='_blank') WolfClover.com
