extends layout

block content
    p
      .error404
        .error404title 
          i.fa.fa-warning.fa-1x 
          |  Error 404!
        | Lo siento, esta no es la página que usted está buscando...